@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gwendolyn:wght@700&family=Oswald:wght@200;300&family=Roboto&family=Teko:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: grid;
    min-height: 100vh;
    font-family: 'Oswald', 'Roboto', Arial, Helvetica, sans-serif;
}

/*------------------DARK-MODE---------------- */

:root{
    --color-dark-main: #0E0F11;
    --color-dark-secondary: #1A1D22;
    --color-dark-font-h: white;
    --color-dark-font-p: #c7c7c7;
    --color-dark-font-cp: #77787A;
    --color-dark-font-a-social: rgba(119, 119, 119, 0.2);
    --color-dark-font-a-social-hover: rgba(180, 180, 180, 0.2);
    --color-dark-font-a-hr: rgba(0, 0, 0, 0.9);

    --color-white-main: #f1eeee;
    --color-white-secondary: #D4D4D4;
    --color-white-font-h-cp: #000;
    --color-white-font-p: #202020;
    --color-white-font-a-social: rgba(0, 0, 0, 0.2);
    --color-white-font-a-social-hover: rgba(38, 38, 38, 0.3);
    --color-white-font-a-hr: rgba(172, 172, 172, 0.5);
}

.dark{
    --color-dark-main: #f1eeee;
    --color-dark-secondary: #D4D4D4;
    --color-dark-font-h: #000;
    --color-dark-font-p: #202020;
    --color-dark-font-cp: #000;
    --color-dark-font-a-social: rgba(0, 0, 0, 0.2);
    --color-dark-font-a-social-hover: rgba(38, 38, 38, 0.3);
    --color-dark-font-a-hr: rgba(172, 172, 172, 0.5);

    --color-white-main: #0E0F11;
    --color-white-secondary: #1A1D22;
    --color-white-font-h: white;
    --color-white-font-p: #c7c7c7;
    --color-white-font-cp: #636466;
    --color-white-font-a-social: rgba(119, 119, 119, 0.2);
    --color-white-font-a-social-hover: rgba(180, 180, 180, 0.2);
    --color-white-font-a-hr: rgba(0, 0, 0, 0.9);
}

/*------------------PRE-LOADER---------------- */

#webpg{
    display: none;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-main);
    cursor: default;
    z-index: 100;
}

@keyframes breath{
    to{
        font-size: 3.6em;
    }
    
    from{
        font-size: 3.8em;
    }
}

.loading h2{
    font-size: 3.8em;
    font-family: 'Great Vibes','Gwendolyn', cursive;
    color: var(--color-dark-font-h);
    animation: breath 2s infinite alternate;
}

.loading p{
    color: var(--color-dark-font-h);
    font-family: 'Oswald', cursive;
    font-size: 1.3em;
    text-align: center;
    margin-top: 10px;
}

.loading h2 span{
    color: rgb(253, 74, 74);
}

/*------------------HEADER---------------- */

.scrl-color{
    background-color: var(--color-dark-secondary);
    top: 0;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}

.scrl-color h2{
    color: var(--color-dark-font-h);
}

.scrl-color .btn ion-icon{
    color: var(--color-dark-font-p);
}

@keyframes lefttoright{
    to{
        transform: translateX(0);
    }
    
    from{
        transform: translateX(-100%);
    }
}

.dft-color{
    background-color: var(--color-dark-main);
    top: initial;
    box-shadow: none;
    animation: lefttoright .5s;
    transition: .5s;
}

.dft-color h2{
    color: var(--color-dark-font-h);
}

.dft-color .btn ion-icon{
    color: var(--color-dark-font-p);
}

header{
    min-height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("Logos/bg.png");
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
}

.hour{
    position: relative;
    width: 100%;
    padding: 1%;
}

.hour i{
    color: rgb(253, 74, 74);
}

.hour p{
    display: inline-block;
    margin-right: 18px;
    padding-left: 6px;
    font: normal 400 19px 'Oswald', 'Roboto', Arial, Helvetica, sans-serif;
    color: #c7c7c7;
    cursor: default;
}

.brline{
    display: none;
}

.hour i .abrcalendar{
    display: none;
}

.last{
    float: right;
}

.last p{
    margin: 0;
}

.navmenu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 50px;
    z-index: 6;
}

.navmenu h2{
    position: relative;
    display: inline-flex;
    color:white;
    font-size: 2.5em;
    font-family: 'Great Vibes','Gwendolyn', cursive;
    cursor: default;
}

.navmenu h2 span{
    color: rgb(253, 74, 74);
}

.rSide{
    display: flex;
}

.btn{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    z-index: 999;
}

.btn ion-icon{
    font-size: 1.5em;
    color: white;
}

.menuToggle ion-icon{
    font-size: 3em;
}
.btn ion-icon:nth-child(2){
    display: none;
}

.btn.active ion-icon:nth-child(2){
    display: block;
}

.btn.active ion-icon:nth-child(1){
    display: none;
}

.nav{
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-main);
    z-index: 3;
    transition: 0.5s;
}

.nav.active{
    transform: translateX(0);
}

.nav li{
    list-style: none;
}

.nav li a{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--color-dark-font-h);
    padding: 5px 20px;
    border-radius: 20px;
}

.nav li a:hover{
    background-color: var(--color-dark-font-p);
    color: var(--color-dark-main);
}


/*------------------MAIN---------------- */

main{
    position: relative;
    transition: .75s;
    background-color: var(--color-dark-main);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 40px;
}

.exp-box{
    position: relative;
    width: 100%;
    height: 12vh;
    z-index: 2;
}

.exp{
    background-color: rgba(105, 105, 105, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 70%;
    height: 16vh;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

.exp .content-exp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}

.exp .content-exp .sep{
    position: relative;
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 1fr 0.05fr 1fr;
    gap: 100px;
    color: white;
    font-family: 'Teko', 'Oswald', Arial, Helvetica, sans-serif;
}

.exp .content-exp .sep .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    gap: 8px;
    padding-top: 15px;    
}

.exp .content-exp .sep .content span{
    color: rgb(253, 74, 74);
    font-size: 100px;
    font-weight: bold;
}

.exp .content-exp .sep .vr{
    width: 1px;
    height: 80%;
    border: 1px solid #77787A;
    display: flex;
    justify-self: center;
    align-self: center;
}

.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.about-content .about-text{
    text-align: center;
    width: 40%;
}

.about-content .about-text p{
    font-size: 1.4em;
    color: var(--color-dark-font-p);
}

.about-content .about-img{
    width: 40%;
    margin: 20px;
}

.about-content .about-img .about-img-box{
    position: relative;
    width: 100%;
    height: 500px;
}

.about-content .about-img .about-img-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.serv-content{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 90px;
    height: 400px;
}

.serv-content .serv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 280px;
    height: 100%;
    padding: 15px;
    background-color: var(--color-dark-secondary);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.serv-content .serv .logo{
    display: flex;
    justify-content: center;
}

.serv .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px 0px 50px 0px;    
}

.serv .info h2{
    font-size: 2.2em;
    font-family: 'Teko','Gwendolyn', cursive;
    color: var(--color-dark-font-h);
    margin-bottom: 10px;
}

.serv .info p{
    font-size: 1.2em;
    color: var(--color-dark-font-p);
    text-align: center;
}

.serv:hover{
    border: 2.5px solid rgb(253, 74, 74);
    margin-bottom: 30px;
}

.container{
    position: relative;
    padding: 30px 100px;
    cursor: default;
}

.container .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--color-dark-font-h);
}

.container .title h1{
    font-size: 56px;
    text-align: center;
    width: 60%;
    border-bottom: 1.5px solid #77787A;
    line-height: 0.1em;
    margin: 16px 0 20px;
}

.container .title .text{
    background-color: var(--color-dark-main);
    padding: 0 16px;
    transition: .75s;
}

.container .title .text span{
    color: rgb(253, 74, 74);
}

.container .price-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    margin-top: 40px;
}

.container .price-content .box-price h2{
    position: relative;
    color: var(--color-dark-font-h);
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 15px;
}

.container .price-content .box-price h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 55px;
    height: 2px;
    background-color: rgb(253, 74, 74);
}


.container .price-content .box-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 20px;
}

.corte, .consu{
    width: 300px;
    position: relative;
}

.container .price-content .box-price .prices .opt p{
    border-bottom: 1.5px solid #77787A;
    margin-bottom: 15px;
    font: 500 24px 'Teko', Arial, Helvetica, sans-serif;
    color: var(--color-dark-font-p);
}

.container .price-content .box-price .prices .opt p span{
    position: absolute;
    right: 0;
    color: rgb(253, 74, 74);
}

.container .price-content .box-img {
    width: 480px;	
    margin: 20px;
    border: 10px solid var(--color-white-secondary);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
}

.container .price-content .box-img .imgBx{
    position: relative;
    width: 100%;
    height: 440px;
}

.container .price-content .box-img .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .line{
    width: 85%;
    height: 0.5px;
    background-color: #77787A;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.container .pag-content{
    margin: 20px;
}

.container .pag-content .box-pag{
    display: grid;
    grid-template-columns: 80px 70px 92px 40px;; 
    justify-content: center;
    align-items: center;
    gap: 12%;
}

.container .pag-content i{
    font-size: 55px;
    color: #77787A;
}

.container .pag-content img{
    width: 80px;
}

.container .pag-content .money{
    width: 39px;
}

.container .pag-content .pix{
    width: 90px;
}

.container .pag-content .master{
    width: 70px;
}

#hour{
    background-image: linear-gradient(var(--color-dark-font-a-hr), var(--color-dark-font-a-hr)), url("Logos/Barber-op1.png");
    background-position: top;
    background-size: cover;
    margin-top: 40px;
    padding: 30px 0px;
}

#hour .title span{
    background-color: transparent;
}

.container .hour-content{
    width: 100%;
}

.container .hour-content .box-hour{ 
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container .hour-content .box-hour .row{
    display: flex;
    width: 85%;
}

.open-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 33.3333%;
    height: 100%;
}

.open-desc h2{
    font-size: 1.5em;
    color: var(--color-dark-font-h);
    margin-bottom: 15px;
}

.open-desc p{
    font-size: 1.1em;
    color: var(--color-dark-font-p);
}
.open-desc p a{
    text-decoration: none;
    color: var(--color-dark-font-h);
}

.open-desc p a:hover{
    color: rgb(253, 74, 74)
}

.hr-desc{
    width: 66.6667%;
}

.hr-desc ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0px 20px;
}

.hr-desc li{
    list-style: none;
}

.hr-desc li .wkdays{
    float: left;
    width: 100%;
    padding: 20px 8px;
    border: 1.5px solid rgb(94, 94, 94);
    text-align: center;
}

.hr-desc li .wkdays h3{
    font-size: 1.3em;
    color: var(--color-dark-font-h);
    margin-bottom: 5px;
}

.hr-desc li .wkdays span{
    font-size: 1em;
    color: var(--color-dark-font-p);
}

.hr-desc .sunday{
    grid-column: span 3;
}

/*-----------------FOOTER---------------- */

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: var(--color-dark-secondary);
    cursor: default;
    transition: .75s;
}

footer .container-footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

footer .container-footer .sec h2{
    position: relative;
    color: var(--color-dark-font-h);
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container-footer .sec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 55px;
    height: 2px;
    background-color: rgb(253, 74, 74);
}

footer .container-footer .sec p{
    color: var(--color-dark-font-h);
}


.quicklink{
    position: relative;
}

.quicklink .qck li{
    list-style: none;
}

.quicklink .qck li a{
    color: var(--color-dark-font-p);
    font-size: 18px;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.25s ease;
}

.quicklink .qck li a:hover{
    color: rgb(253, 74, 74);
    padding-left: 8px;
}

.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 10px;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: var(--color-dark-font-a-social);
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}

.sci li a:hover{
    background-color: var(--color-dark-font-a-social-hover);
}

.sci li a .fab{
    color: var(--color-white-main);
    font-size: 20px;
}

.info{
    position: relative;
}

.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span:nth-child(1){
    color: rgb(253, 74, 74);
    font-size: 20px;
}

.info li span{
    color: var(--color-dark-font-h);
}

.info a{
    color: var(--color-dark-font-h);
    text-decoration: none
}

.info a:hover{
    color: rgb(253, 74, 74);
}

.info p{
    font-size: 16px;
    letter-spacing: 1px;
}

footer .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    font-family: 'Great Vibes', 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--color-dark-font-h);
}

footer .title h1{
    font-size: 36px;
    text-align: center;
    width: 60%;
    border-bottom: 1px solid #77787A;
    line-height: 0.1em;
    margin: 16px 0 20px;
}

footer .title .text{
    background-color: var(--color-dark-secondary);
    padding: 0 16px;
    transition: .75s;
}

footer .title .text span{
    color: rgb(253, 74, 74);
}

.copyright{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--color-dark-font-main);
    padding: 8px 100px;
    font-size: 18px;
    color: var(--color-dark-font-cp);
    cursor: default;
}

.copyright .right{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.copyright .cred{
    margin-left: auto;
}

.copyright .cred a{
    color: var(--color-white-secondary);
    text-decoration: none;
}

.copyright .cred a:hover{
    color: rgb(253, 74, 74);
}

/*  SYSTEM THEME COLOR */

@media (prefers-color-scheme: dark){
    .loading, header .dft-color, .nav, main, .container .title .text, .price-content .box-img, .copyright{
        background-color: var(--color-dark-main);
    }
    .nav li a:hover{
        background-color: var(--color-dark-font-p);
        color: var(--color-dark-main);
    }
    
    .scrl-color, footer, footer .title .text, .container .serv-content .serv{
        background-color: var(--color-dark-secondary);
    }
    
    .loading h2, .loading p, .nav li a, footer .container-footer .sec h2, footer .container-footer .sec p, .info li span, .info a, footer .title, .container .title, .container .price-content .box-price h2, header .scrl-color h2, header .dft-color h2, .container .serv .info h2, .container .hour-content .box-hour .row .open-desc h2, .open-desc p a, .hr-desc li .wkdays h3{
        color: var(--color-dark-font-h);
    }
    
    .quicklink .qck li a, .container .price-content .box-price .prices .opt p, header .scrl-color .btn ion-icon, header .dft-color .btn ion-icon, .container .serv .info p, .open-desc p, .hr-desc li .wkdays span{
        color: var(--color-dark-font-p);
    }

    .sci li a{
        background-color: var(--color-dark-font-a-social);
    }
    
    .sci li a:hover{
        background-color: var(--color-dark-font-a-social-hover);
    }

    #hour{
        background-image: linear-gradient(var(--color-dark-font-a-hr), var(--color-dark-font-a-hr)), url("./Logos/Barber-op1.png");
    }
}
@media (prefers-color-scheme: light){
    .loading, header .dft-color, .nav, main, .container .title .text, .price-content .box-img, .copyright{
        background-color: var(--color-white-main);
    }
    
    .nav li a:hover{
        background-color: var(--color-white-font-p);
        color: var(--color-white-main);
    }
    
    .scrl-color, footer, footer .title .text, .container .serv-content .serv{
        background-color: var(--color-white-secondary);
    }

    .loading h2, .loading p, .nav li a, footer .container-footer .sec h2, footer .container-footer .sec p, .info li span, .info a, footer .title, .container .title, .container .price-content .box-price h2, header .scrl-color h2, header .dft-color h2, .container .serv .info h2, .container .hour-content .box-hour .row .open-desc h2, .open-desc p a, .hr-desc li .wkdays h3{
        color: var(--color-white-font-h);
    }
    
    .quicklink .qck li a, .container .price-content .box-price .prices .opt p, header .scrl-color .btn ion-icon, header .dft-color .btn ion-icon, .container .serv .info p, .open-desc p, .hr-desc li .wkdays span{
        color: var(--color-white-font-p);
    }
    
    .sci li a{
        background-color: var(--color-white-font-a-social);
    }

    .sci li a:hover{
        background-color: var(--color-white-font-a-social-hover);
    }

    #hour{
        background-image: linear-gradient(var(--color-white-font-a-hr), var(--color-white-font-a-hr)), url("./Logos/Barber-op1.png");
    }
}

/* RESPONSIVE */

@media screen and (min-width: 1115px) and (max-width: 1455px){
    .container .price-content .box-price {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1115px){
    .container .price-content {
        grid-template-columns: repeat(1, 1fr);
    }
    .container .price-content .box-price {
        grid-template-columns: repeat(2, 1fr);
    }

    .container .price-content .box-img {
        display: flex;
        justify-self: center;
    }

    .container .price-content .box-price{
        gap: 180px;
    }

    .container .serv-content{
        height: 350px;
        justify-content: space-between;
    }

    .container .serv-content .serv{
        width: 240px;    
    }

    .about-content .about-img .about-img-box {
        height: 300px;
    }
}
@media screen and (max-width: 991px){
    footer{
        padding: 40px;
    }

    footer .container-footer{
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright{
        padding: 8px 40px;
    }
    .exp .content-exp .sep{
        gap: 50px;
    }
    .exp .content-exp .sep .content{
        gap: 5px;
    }

    .exp .content-exp .sep .content span{
        font-size: 85px;
    }

    .exp-box .sep .content p{
        font-size: 30px;
    }

    .container .price-content .box-img {
        width: 355px;
        height: max-content;
    }

    .container .price-content .box-img .imgBx {
        height: 315px;
    }

    .container .price-content .box-price {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px; 
    }

    .container .serv-content{
        height: auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .container .serv-content .serv{
        width: 260px;
        height: 360px;
    }

    .container .serv-content .serv:hover{
        margin: 0;
    }

    .copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: justify;
    }

    .copyright .cred{
        margin-left: 0;
        margin-top: 15px;
    }

    .copyright .right {
        position: relative;
        left: 0;
        transform: translateX(0);
    }

    .hr-desc ul{
        grid-template-columns: repeat(2, 1fr);
    }

    .hr-desc .sunday{
        grid-column: span 2;
    }

    .open-desc{
        width: 80%;
    }

    .hr-desc{
        width: 100%;
    }

    .about-content {
        flex-direction: column;
    }

    .about-content .about-text {
        width: 60%;
    }

    .about-content .about-img {
        width: 80%;
    }

    .container .title h1 {
        width: 90%;
    }

    .about-content .about-text {
        width: 80%;
    }

    .about-content .about-img {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {

    header .hour{
        display: flex;
    }
    header .hour .fa-phone{
        margin-left: auto;
    }

    footer .container-footer{
        grid-template-columns: repeat(1, 1fr);
    }

    .container .hour-content .box-hour .row {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }   
    
    .container .hour-content .box-hour .row .open-desc{
        margin-bottom: 30px;
    }
}

@media screen  and (max-width: 685px) {
    header .hour .fa-phone{
        width: max-content;
    }

    .exp .content-exp .sep .content{
        padding-top: 0;    
    }

    .exp .content-exp .sep{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .exp .content-exp .sep .fr{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -77%);
    }
    
    .exp .content-exp .sep .tc{
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 88%);
    }

    .exp .content-exp .sep .content{
        white-space: nowrap;
    }

    .exp .content-exp .sep .vr{
        height: 1px;
        width: 150px;
    }

    footer .title h1{
        width: 80%;
    }

    .hr-desc ul{
        grid-template-columns: repeat(1, 1fr);
    }

    .hr-desc .sunday{
        grid-column: span 1;
    }
}

@media screen  and (max-width: 610px) { 
    header .hour .fa-calendar-alt p{
        display: none;
    }

    header .hour i .abrcalendar{
        display: initial;
    }

    .container{
        padding: 30px 30px;        
    }

    .container .hour-content .box-hour{ 
        padding: 40px 0px;
    }
}

@media screen  and (max-width: 530px) {   
    header .hour .last{
        display: none;
    }

    header .hour .fa-calendar-alt{
        margin-left: auto;
    }
    
    .exp .content-exp .sep .content span{
        font-size: 65px;
    }
    
    header .menu{ 
        margin-top: 15px;
    }
    
    footer .title h1{
        width: 95%;
    }
}

@media screen and (max-width: 500px) {
    header .navmenu{
        padding: 20px 50px;
    }
    
    header .hour .last{
        display: none;
    }

    header .hour{
        white-space: nowrap;
        padding: 8px 10px;
    }

    header .hour i p{
        margin: 0;
    }

    .container .pag-content .box-pag{
        gap: 8%;
    }
}

@media screen and (max-width: 434px){
    .exp .content-exp .sep {
        gap: 36px;
    }

    header .navmenu {
        padding: 16px 25px 16px 30px;
    }

    .navmenu h2 {
        font-size: 2.1em;
    }

    .container .price-content .box-img {
        width: 290px;
    }

    .container .price-content .box-img .imgBx {
        height: 250px;
    }

    .container .price-content .box-price {
        gap: 50px;
    }

    .container .title h1 {
        font-size: 45px;
        width: 75%;
    }

    .container .price-content .box-price h2 {
        font-size: 30px;
    }    

    .exp-box .sep .content p {
        font-size: 25px;
    }
    .exp .content-exp .sep .content span {
        font-size: 52.5px;
    }

    .container .pag-content .box-pag{
        grid-template-columns: 92px 70px;
        gap: 25%;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 395px){    
    header .navmenu {
        padding: 16px 20px;
    }

    .exp{
        width: 65%;
    }

    .exp .content-exp .sep {
        gap: 30px;
    }

    .exp .content-exp .sep .content span{
        font-size: 45px;
    }
    
    .exp-box .sep .content p{
        font-size: 22.5px;
    }

    .exp .content-exp .sep .fr{
        transform: translate(-50%, -85%);
    }

    .exp .content-exp .sep .tc{
        transform: translate(50%, 95%);
    }

    .navmenu h2 {
        font-size: 2.1em;
    }

    .hour p{
        padding-left: 4px;
        font-size: 16px;
    }
    
    .container{
        padding: 30px 10px;
    }

    .container .pag-content .box-pag{
        gap: 20%;
    }
}