@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&family=Roboto&family=Teko:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
}

header{
    height: 30vh;
    width: 100%;
    background: #1A1D22;
    background-size: 100% 30vh;
    position: relative;
}

.hour{
    position: relative;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}
.hd{
    padding: 1%;
}
.hd i{
    color: rgb(253, 74, 74);
}

.hd p{
    display: inline-block;
    margin-right: 1vw;
    padding-left: .3vw;
    font-size: 1.2em;
    color: #c7c7c7;
    cursor: default;
}

.last{
    float: right;
}

.last p{
    margin: 0;
}

.menu{
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 15%;
}

.navmenu{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.navmenu h2{
    font-family: 'Oswald', Arial, sans-serif;
    color:aliceblue;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    cursor: default;
}

.navmenu h2 span{
    color: rgb(253, 74, 74);
}

.navmenu ul{
    list-style: none;
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
}

.navmenu ul li{
    display: inline-block;
    margin-right: 1vw;
}

.navmenu ul li:last-child{
    margin-right: 0;
}

.navmenu ul li a{
    text-decoration: none;
    color: aliceblue;
    font: 1.2em 'Roboto', 'Oswald', Arial, Helvetica, sans-serif;
}

.navmenu ul li a:hover{
    color: rgb(253, 74, 74);
}

.navmenu ul li a[tabindex]:focus{
    color: rgb(253, 74, 74);
    outline: none;
}

main{
    background-color: #0E0F11;
    width: 100%;
    min-height: 100vh;
}

.exp-box{
    position: relative;
    width: 100%;
    height: 15vh;
}

.exp{
    background-color: rgba(105, 105, 105, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 70%;
    height: 16vh;
    position: absolute;
    top: 00%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.content-exp{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fa, .tc{
    height: 100%;
    float: left;
    margin-left: 3.5%;
    font-family: 'Teko', Arial, Helvetica, sans-serif;
}

.tc{
    width: 33.3%;
    float: right;
    margin-left: 0;
    margin-right: 3.5%;
}

.fa p{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: aliceblue;
    font-size: 2.5em;
    font-weight: 550;
    letter-spacing: .15vw;
    margin-left: 1.2vw;
}

.tc p{
    position: absolute;
    top: 50%;
    right: 3.3%;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 2.5em;
    letter-spacing: .15vw;
}

.fa span, .tc span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    color: rgb(253, 74, 74);
    float: left;
    font-size: 7em;
    font-weight: bold;
}

.tc span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    color: rgb(253, 74, 74);
    float: left;
    font-size: 7em;
    font-weight: bold;
}

.vr{
    height: 75%;
    width: 0%;
    border: 1px solid #9e9e9e;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}