@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Gwendolyn:wght@700&family=Oswald:wght@200;300&family=Roboto&family=Teko:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100vh;
    font-family: 'Oswald', 'Roboto', Arial, Helvetica, sans-serif;
}

/*------------------DARK-MODE---------------- */

:root{
    --color-dark-main: #0E0F11;
    --color-dark-secondary: #1A1D22;
    --color-dark-font-h: aliceblue;
    --color-dark-font-p: #c7c7c7;
    --color-dark-font-cp: #77787A;
    --color-dark-font-a-social: rgba(119, 119, 119, 0.2);
    --color-dark-font-a-social-hover: rgba(180, 180, 180, 0.2);

    --color-white-main: #eae1e1;
    --color-white-secondary: #D4D4D4;
    --color-white-font-h-cp: #000;
    --color-white-font-p: #202020;
    --color-white-font-a-social: rgba(0, 0, 0, 0.2);
    --color-white-font-a-social-hover: rgba(38, 38, 38, 0.3);
}

.dark{
    --color-dark-main: #eae1e1;
    --color-dark-secondary: #D4D4D4;
    --color-dark-font-h: #000;
    --color-dark-font-p: #202020;
    --color-dark-font-cp: #000;
    --color-dark-font-a-social: rgba(0, 0, 0, 0.2);
    --color-dark-font-a-social-hover: rgba(38, 38, 38, 0.3);

    --color-white-main: #0E0F11;
    --color-white-secondary: #1A1D22;
    --color-white-font-h: aliceblue;
    --color-white-font-p: #c7c7c7;
    --color-dark-font-cp: #77787A;
    --color-white-font-a-social: rgba(119, 119, 119, 0.2);
    --color-white-font-a-social-hover: rgba(180, 180, 180, 0.2); 
}

/*------------------PRE-LOADER---------------- */

#webpg{
    display: none;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-main);
    cursor: default;
    z-index: 100;
}

@keyframes breath{
    to{
        font-size: 3.6em;
    }
    
    from{
        font-size: 3.8em;
    }
}

.loading h2{
    font-size: 3.8em;
    font-family: 'Great Vibes','Gwendolyn', cursive;
    color: var(--color-dark-font-h);
    animation: breath 2s infinite alternate;
}

.loading p{
    color: var(--color-dark-font-h);
    font-family: 'Oswald', cursive;
    font-size: 1.3em;
    text-align: center;
    margin-top: 10px;
}

.loading h2 span{
    color: rgb(253, 74, 74);
}

/*------------------HEADER---------------- */

.scrl-color{
    background-color: var(--color-dark-secondary);
    top: 0;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.2);
}

.scrl-color h2{
    color: var(--color-dark-font-h) !important;
}

.scrl-color .btn ion-icon{
    color: var(--color-dark-font-p) !important;
}

@keyframes lefttoright{
    to{
        transform: translateX(0);
    }
    
    from{
        transform: translateX(-100%);
    }
}

.dft-color{
    background-color: var(--color-dark-main);
    top: initial;
    box-shadow: none;
    animation: lefttoright .5s forwards;
}

header{
    min-height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("Logos/Sem\ Título-2.png");
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.hour{
    position: relative;
    width: 100%;
    padding: 1%;
}

.hour i{
    color: rgb(253, 74, 74);
}

.hour p{
    display: inline-block;
    margin-right: 18px;
    padding-left: 6px;
    font: normal 400 19px 'Oswald', 'Roboto', Arial, Helvetica, sans-serif;
    color: #c7c7c7;
    cursor: default;
}

.brline{
    display: none;
}

.hour i .abrcalendar{
    display: none;
}

.last{
    float: right;
}

.last p{
    margin: 0;
}

.navmenu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 50px;
    z-index: 6;
}

.navmenu h2{
    position: relative;
    display: inline-flex;
    color:aliceblue;
    font-size: 2.5em;
    font-family: 'Great Vibes','Gwendolyn', cursive;
    cursor: default;
}

.navmenu h2 span{
    color: rgb(253, 74, 74);
}

.rSide{
    display: flex;
}

.btn{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    z-index: 999;
}

.btn ion-icon{
    font-size: 1.5em;
    color: aliceblue;
}

.menuToggle ion-icon{
    font-size: 3em;
}
.btn ion-icon:nth-child(2){
    display: none;
}

.btn.active ion-icon:nth-child(2){
    display: block;
}

.btn.active ion-icon:nth-child(1){
    display: none;
}

.nav{
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-main);
    z-index: 3;
    transition: 0.5s;
}

.nav.active{
    left: 0;
}

.nav li{
    list-style: none;
}

.nav li a{
    display: inline-flex;
    margin: 5px 0;
    font-size: 1.25em;
    text-decoration: none;
    color: var(--color-dark-font-h);
    padding: 5px 20px;
    border-radius: 20px;
}

.nav li a:hover{
    background-color: var(--color-dark-font-p);
    color: var(--color-dark-main);
}

/*------------------MAIN---------------- */

main{
    position: relative;
    background-color: var(--color-dark-main);
    width: 100%;
    min-height: 100vh;
    margin-top: 30vh;
}

.exp-box{
    position: relative;
    width: 100%;
    height: 12vh;
    z-index: 2;
}

.exp{
    background-color: rgba(105, 105, 105, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 70%;
    height: 16vh;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
}

.exp .content-exp{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 80px;
}

.exp .content-exp .sep{
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: 1fr 0.05fr 1fr;
    gap: 100px;
    color: white;
    font-family: 'Teko', 'Oswald', Arial, Helvetica, sans-serif;
}

.exp .content-exp .sep .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    gap: 8px;
    padding-top: 15px;    
}

.exp .content-exp .sep .content span{
    color: rgb(253, 74, 74);
    font-size: 100px;
    font-weight: bold;
}

.exp .content-exp .sep .vr{
    width: 1px;
    height: 80%;
    border: 1px solid #77787A;
    display: flex;
    justify-self: center;
    align-self: center;
}

img{
    width: 100%;
}
/*-----------------FOOTER---------------- */

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: var(--color-dark-secondary);
    cursor: default;
}

footer .container-footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

footer .container-footer .sec h2{
    position: relative;
    color: var(--color-dark-font-h);
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container-footer .sec h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 55px;
    height: 2px;
    background-color: rgb(253, 74, 74);
}

footer .container-footer .sec p{
    color: var(--color-dark-font-h);
}


.quicklink{
    position: relative;
}

.quicklink .qck li{
    list-style: none;
}

.quicklink .qck li a{
    color: var(--color-dark-font-p);
    font-size: 18px;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: all 0.25s ease;
}

.quicklink .qck li a:hover{
    color: rgb(253, 74, 74);
    padding-left: 8px;
}

.sci{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 10px;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 48px;
    height: 48px;
    background: var(--color-dark-font-a-social);
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    text-decoration: none;
}

.sci li a:hover{
    background-color: var(--color-dark-font-a-social-hover);
}

.sci li a .fab{
    color: var(--color-white-main);
    font-size: 20px;
}

.info{
    position: relative;
}

.info li{
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

.info li span:nth-child(1){
    color: rgb(253, 74, 74);
    font-size: 20px;
}

.info li span{
    color: var(--color-dark-font-h);
}

.info a{
    color: var(--color-dark-font-h);
    text-decoration: none
}

.info a:hover{
    color: rgb(253, 74, 74);
}

.info p{
    font-size: 16px;
    letter-spacing: 1px;
}

footer .title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    font-family: 'Great Vibes', 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--color-dark-font-h);
}

footer .title h1{
    font-size: 36px;
    text-align: center;
    width: 60%;
    border-bottom: 1px solid #77787A;
    line-height: 0.1em;
    margin: 16px 0 20px;
}

footer .title .text{
    background-color: var(--color-dark-secondary);
    padding: 0 16px;
}

footer .title .text span{
    color: rgb(253, 74, 74);
}

.copyright{
    width: 100%;
    background-color: var(--color-dark-main);
    padding: 8px 100px;
    font-size: 18px;
    text-align: center;
    color: #77787A;
    cursor: default;
}

.copyright p{
    display: inline-block;
}
.copyright .cred{
    float: right;
}

.copyright .cred a .fab{
    color: var(--color-white-main);
    font-size: 20px;
    transition: all 0.15s ease;
}

.copyright .cred a .fab:hover{
    color: rgb(253, 74, 74);
    font-size: 21.5px;
}

/* RESPONSIVE */

@media screen and (max-width: 991px){
    footer{
        padding: 40px;
    }

    footer .container-footer{
        grid-template-columns: repeat(2, 1fr);
    }

    .copyright{
        padding: 8px 40px;
    }
    .exp .content-exp .sep{
        gap: 50px;
    }
    .exp .content-exp .sep .content{
        gap: 5px;
    }

    .exp .content-exp .sep .content span{
        font-size: 85px;
    }

    .exp-box .sep .content p{
        font-size: 30px;

    }
}

@media screen and (max-width: 768px) {
    header .navmenu{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    header .navmenu h2{
        justify-self: center;
        align-self: center;
    }
    /* header .navmenu ul{
        justify-content: center;
        align-items: center;
    } */
    header .hour{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    header .hour .fa-clock{
        display: table;
    }

    header .hour .fa-clock p{
        display: inline-table;
    }

    header .hour .fa-clock p .brline{
        display: initial;
    }

    header .hour .fa-clock p span{
        display: none;
    }

    footer .container-footer{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen  and (max-width: 685px) {
    header .hour .fa-phone{
        width: max-content;
    }

    .exp .content-exp .sep .content{
        padding-top: 0;    
    }

    .exp .content-exp .sep{
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .exp .content-exp .sep .fr{
        position: relative;
        top: 63%;
    }
    
    .exp .content-exp .sep .tc{
        position: relative;
        bottom: 53%;
    }

    .exp .content-exp .sep .content{
        white-space: nowrap;
    }

    .exp .content-exp .sep .vr{
        height: 1px;
        width: 150px;
    }

    footer .title h1{
        width: 80%;
    }
}

@media screen  and (max-width: 530px) {   
    .exp .content-exp .sep .content span{
        font-size: 65px;
    }

    .exp-box .sep .content p{
        font-size: 30px;

    }

    header .menu{ 
        margin-top: 15px;
    }

    footer .title h1{
        width: 95%;
    }

    .copyright .cred{
        float: none;
    }
}

@media screen and (max-width: 500px) {
    header .navmenu{
        padding: 40px 50px;
    }
    
    header .hour .last{
        display: none;
    }

    header .hour{
        white-space: nowrap;
    }
    header .hour .fa-calendar-alt{
        position: absolute;
        top: 2%;
        right: 1.5%;
    }

    header .hour .fa-calendar-alt p{
        display: none;
    }

    header .hour i .abrcalendar{
        display: initial;
    }

    header .hour i p{
        margin: 0;
    }

    header .hour .fa-clock p .brline{
        display: none;
    }

    header .hour .fa-clock p span{
        display: initial;
    }
}

@media (prefers-color-scheme: dark){
    .loading, main{
        background-color: var(--color-dark-main);
    }

    footer{
        background-color: var(--color-dark-secondary);
    }


}