body{
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    color: white;
    position: relative;
}

header{
    position: sticky;
    margin: 0;
    margin-top: 1%;
    padding: 0;
    top: 0;
    width: 100%;
    height: 5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}
header p{
    float: left;
    margin-left: 1%;
    color: rgb(245, 245, 245);
}

header ul{
    list-style: none;
    font-size: 1.1rem;
    color: rgb(100, 100, 100);
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header ul li{
    display: inline-block;
    margin-right: 1.1vw;
}

header ul li:hover{
    color: whitesmoke;
    cursor: pointer;
}

header ul li:last-child{
    margin-right: 0vw;
}

.touch{
    padding: 0.8%;
    text-decoration: none;
    color: #000;
    background: rgb(255, 201, 25);
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 1%;
    transform: translateY(-50%);
}

.touch:hover{
    color: white;
    box-shadow: 0 0 3px black inset;
}

.footer{


}
.footer div{
    background-color: red;
}


#twitter{
    background: url("Social Icons/Twitter.svg");
    width: 100px;
    height: 100px;
}

#github{
    background: url("Social Icons/Github.svg");
}

#linkedin{
    background: url("Social Icons/LinkedIn.svg");
}